<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button *ngIf="slideIndex==0" (click)="formAddRoom()" icon-only>
        <ion-icon name="add-circle" ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
      <button ion-button *ngIf="slideIndex==0" (click)="showSearch()" icon-only>
        <ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>
      </button>
      <button ion-button (click)="goToSlide(0)" *ngIf="slideIndex>0">
        <ion-icon name="arrow-back" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="goSetting()" icon-only>
        <ion-icon name="settings" ios="ios-settings" md="md-settings"></ion-icon>
      </button>
      <button ion-button (click)="listUnread()" icon-only>
        <ion-icon name="notifications" ios="ios-notifications" md="md-notifications"></ion-icon>
        <ion-badge color="danger" *ngIf="unreadCount > 0">{{ unreadCount }}</ion-badge>
      </button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-searchbar (ionInput)="getItems($event)" *ngIf="show && slideIndex==0"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <!-- #id=0 home -->
    <ion-slide>
      <ion-card>
        <ion-list>
          <ion-item-sliding *ngFor="let room of rooms">
            <ion-item>
              <button class="list-card" ion-item (click)="goRoom(room)">
                <ion-avatar item-start>
                  <img src="{{room.image?room.image:image_default}}">
                </ion-avatar>
                <h2 class="name">{{ room?.name }}</h2>
                <p>{{ room?.message }}</p>
                <ion-note>{{ room?.time | date:'dd.MM hh:mm' }}</ion-note>
              </button>
            </ion-item>
            <ion-item-options>
              <button ion-button color="danger" (click)="deleteRoom(room.name)">
                <ion-icon name="trash" ios="ios-trash"></ion-icon>
                Delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card>
      <button ion-button (click)="deleteAllRoom()" *ngIf="rooms.length>0">DELETE ALL ROOM</button>
    </ion-slide>

    <!-- #id=1 chatting -->
    <ion-slide>
      <button ion-button (click)="deleteMessage()" *ngIf="messages.length>0">DELETE MESSAGE</button>
      <ion-grid>
        <ion-row *ngFor="let message of messages">
          <ion-col class="other-avatar" col-2 *ngIf="message?.user?.username !== user?.username">
            <ion-item class="other-avatar">
              <ion-avatar item-start>
                <img src="{{message?.user?.image?message?.user?.image.toLowerCase().indexOf('://')>0?message?.user?.image:(authenticationServer + '/get-avatar/' + message?.user?.image + '?token=' + token):image_default}}" />
              </ion-avatar>
            </ion-item>
          </ion-col>
          <ion-col class="message other_message" offset-1 col-9 *ngIf="message?.user?.username !== user?.username">
            <div class="nick-name">{{ message?.user?.username }}:</div>
            <br>
            <div class="text-message">{{ message?.text }}</div>
            <br>
            <div class="time">{{message?.created | date:'dd.MM hh:mm'}}</div>
          </ion-col>

          <ion-col class="message my_message" offset-1 col-9 *ngIf="message?.user?.username === user?.username">
            <div class="nick-name">{{ message?.user?.username }}:</div>
            <br>
            <div class="text-message">{{ message?.text }}</div>
            <br>
            <div class="time">{{message?.created | date:'dd.MM hh:mm'}}</div>
          </ion-col>
          <ion-col class="other-avatar" col-2 *ngIf="message?.user?.username === user?.username">
            <ion-item class="other-avatar">
              <ion-avatar item-start>
                <img src="{{message?.user?.image?message?.user?.image.toLowerCase().indexOf('://')>0?message?.user?.image:(authenticationServer + '/get-avatar/' + message?.user?.image + '?token=' + token):image_default}}" />
              </ion-avatar>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>


    <!-- #id=2 them nhom -->
    <ion-slide>
      <form (ngSubmit)="onSubmit()" [formGroup]="addFromGroup" *ngIf="!(isShowInfo)">
        <ion-list>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <ion-label floating>Tên nhóm</ion-label>
            <ion-input type="text" formControlName="room_name"></ion-input>
            <ion-icon name="add" item-end></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <ion-label floating>Nhap vao duong dan hinh anh</ion-label>
            <ion-input type="text" formControlName="image"></ion-input>
            <ion-icon name="add" item-end></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="leaf" item-start></ion-icon>
            <ion-label floating>Tin nhan cuoi cung</ion-label>
            <ion-input type="text" formControlName="message"></ion-input>
            <ion-icon name="add" item-end></ion-icon>
          </ion-item>
          <ion-item>
            <ion-buttons start>
              <button ion-button type="submit" icon-end round>
                Them nhom
                <ion-icon name="share-alt"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </form>
    </ion-slide>

    <!-- #id=3 setting -->
    <ion-slide>
      <ion-list no-lines>

        <ion-item class='item-settings' (click)="selectIcon()">
          <ion-icon name="images" item-start></ion-icon>
          Icons
        </ion-item>
        <ion-item class='item-settings' (click)="callSendLog()">
          <ion-icon name="add" item-start></ion-icon>
          <ion-label>Send Log To Server</ion-label>
        </ion-item>
        <ion-item class='item-settings' (click)="callLogout()">
          <ion-icon name="add" item-start></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="slideIndex==1">
    <ion-row class="message_row">
      <ion-col col-10>
        <ion-item no-lines>
          <ion-input type="text" placeholder="Gõ nội dung tin nhắn cần gửi" [(ngModel)]="message"
            (keyup.enter)="sendMessage()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button round color="primary" (click)="sendMessage()" [disabled]="message === ''">
          <ion-icon name="undo"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>